FASTAPI__WORKERS_COUNT=1
FASTAPI__SERVE_PORT=8100
FASTAPI__SERVE_HOST="127.0.0.1"
FASTAPI__DOCS_URL="/docs"
FASTAPI__RELOAD=True
FASTAPI__PROJECT_NAME="Attendance Service"
FASTAPI__OPENAPI_URL="/open.json"

AUTH__SECRET_KEY="your-fernet-key-here"
AUTH__ACCESS_TOKEN_EXPIRES_IN="3600"

REDIS__MASTER_HOST='localhost'
REDIS__PORT=6379

POSTGRES_SQLALCHEMY__HOST="localhost"
POSTGRES_SQLALCHEMY__PORT="5432"
POSTGRES_SQLALCHEMY__USERNAME="postgres"
POSTGRES_SQLALCHEMY__PASSWORD="postgres"
POSTGRES_SQLALCHEMY__DATABASE="attendance"
POSTGRES_SQLALCHEMY__POOL_SIZE="50"
